.tech-container {
    text-align: center;
    padding: 20px;
    color: rgb(6, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 1200px;
    margin: 20px auto;
  }
  
  .tech-title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
  }
  .loader {
    font-size: 18px;
    font-weight: bold;
    color: #555;
    text-align: center;
    margin: 30px 0;
  }
  
  .stack-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .icon {
    width: 170px;
    height: 130px;
    transition: transform 0.3s ease-in-out, opacity 0.3s;
  }
  
  .icon:hover {
    transform: scale(1.2) rotate(10deg);
    opacity: 0.8;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .stack-icons img {
    animation: fadeIn 0.8s ease-in-out;
  }
  
  @media screen and (max-width: 768px) {
    .tech-container{
      max-width: 90%;
      padding: 15px;

    }
    .tech-title {
      font-size: 20px;
    }
    .stack-icons {
      gap: 15px;
    }
    .icon {
      width: 50px;
      height: 50px;
    }
  }
  @media screen and (max-width: 480px) {
    .tech-container {
      max-width: 95%;
      padding: 10px;
    }
  
    .tech-title {
      font-size: 18px;
    }
  
    .stack-icons {
      align-items: center;
      gap: 10px;
    }
  
    .icon {
      width: 40px;
      height: 40px;
    }
  }
  